/* you can add to or change this. */
h1, h4 {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#game {
  width: 800px;
  margin: auto;
  text-align: center;
}
#game div {
  background-color: white;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
}
